body {
    background: url(https://i.gifer.com/7HHu.gif);
    background-size: cover;
}

.text {
    text-align: center;
    font-size: 24px;
}

a.btn {
    /*display: inline-block;*/
    color: white;
    font-weight: 900;
    text-decoration: none;
    user-select: none;
    padding: .5em 2em;
    outline: none;
    border: 2px solid;
    border-radius: 10px;
    transition: 0.2s;
    font-size: 10px;
    width: auto;
    box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.50);
}

    a.btn:hover {
        background: rgba(255,255,255,.2);
    }

    a.btn:active {
        background: white;
    }

input {
    display: inline-block;
    color: black;
    font-weight: 700;
    text-decoration: none;
    user-select: none;
    padding: .5em 2em;
    outline: none;
    border: 1px solid;
    border-radius: 1px;
    transition: 0.2s;
    font-size: 11px;
    border-radius: 10px;
}

table {
    width: 49.5%; /* Ширина таблицы */
    color: white; /* Цвет текста */
    text-align: center;
    text-shadow: 1px 1px 1px black;
    font-size: 20px;
    /*border-spacing: 5px; Расстояние между ячейками */
    /*border: groove;*/
    /*border-collapse: separate;*/
    border-collapse: collapse;
    border-radius: 20px;
    box-shadow: 0 0 0 5px rgba(255, 255, 255, 0.50);
    color: white;
}