body {
    background: url(https://media0.giphy.com/media/dAWZiSMbMvObDWP3aA/giphy.gif);
    background-size: cover;
}

.text {
    text-align: center;
    text-shadow: 1px 1px 1px black;
    font-size: 24px;
    color: white;
}

a.btn {
    color: white;
    font-weight: 900;
    text-decoration: none;
    user-select: none;
    padding: .5em 2em;
    outline: none;
    border: 2px solid;
    border-radius: 10px;
    transition: 0.2s;
    font-size: 12px;
    width: auto;
    box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.50);
}

    a.btn:hover {
        background: rgba(255,255,255,.2);
    }

    a.btn:active {
        background: white;
    }

input {
    display: inline-block;
    color: black;
    font-weight: 700;
    text-decoration: none;
    user-select: none;
    padding: .5em 2em;
    outline: none;
    border: 1px solid;
    transition: 0.2s;
    border-radius: 10px;
}

table {
    width: 49.5%;
    color: white;
    text-align: center;
    text-shadow: 1px 1px 1px black;
    font-size: 20px;
    border-collapse: collapse;
    border-radius: 20px;
    box-shadow: 0 0 0 5px rgba(255, 255, 255, 0.50);
    color: white;
}